@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
}

.purple {
    color: rgb(100, 21, 225);
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.container {
    padding: 80px 0;
}

.btn {
    border-radius: 9999px;
    background-color: rgb(100, 21, 255);
    color: white;
    padding: 12px 32px;
    transition: color 600ms;
    cursor: pointer;
    transition: all 300ms;
}

.btn:hover {
    color: white;
    background-color: rgb(80, 17, 204);
    border:none;
}

/* NAVIGATION BAR */

#landing {
    padding: 32px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
    align-items: center;
}

.nav__logo--wrapper {
    margin-right: 12px;
}

.nav__logo--img {
    width: 40px;
    height: 40px;
}

.nav__logo--title {
    margin-left: 0px;
    font-weight: 900;
    font-size: 24px;
    color: rgb(36, 62, 99);
    transition: color 300ms ease;
    cursor: pointer;
}

.nav__logo--title:hover {
    color: rgb(100, 21, 225);
}

.nav__links {
    display: flex;
    align-items: center;
}

.nav__link {
    margin: 0 24px;
    font-size: 14px;
    padding-bottom: 4px;
    font-weight: 600;
    letter-spacing: 0.4px;
    color: rgb(36, 62, 99);
}

.nav__link:hover {
    color: rgb(80, 17, 204);
    border-bottom: solid;
    border-bottom-width: 2px;
}

.nav__link--primary {
    margin: 0px 24px 0px 48px;
    font-size: 14px;
    border-bottom-width: 2px;
    padding-bottom: 4px;
    font-weight: 600;
    letter-spacing: 0.4px;
    color: rgb(36, 62, 99);
}

.nav__link--primary:hover {
    color: rgb(80, 17, 204);
    border-bottom: solid;
    border-bottom-width: 2px;
}

.nav__link--button {
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 9999px;
    background-color: rgb(100, 21, 255);
    color: white;
    padding: 12px 32px;
    transition: color 600ms;
    cursor: pointer;
    transition: all 300ms;
}

.nav__link--button:hover {
    color: white;
    background-color: rgb(80, 17, 204);
    border:none;
}

/* LANDING */

.landing__container {
    display: flex;
    padding: 96px 0;
    flex-direction: row;
    align-items: center;
}

.landing__description {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.landing__description--title {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.25;
}

.landing__description--para {
    font-size: 18px;
    margin: 32px 0;
    text-align: left;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    width: 533px;
}

.landing__description--button {
    position: relative;
    max-width: 448px;
    text-align: center;
}

.landing__description--input {
    padding: 20px 192px 20px 32px;
    width: 100%;
    border-radius: 9999px;
    font-weight: 500;
    border: solid 2px rgb(226,232, 240);
    font-size: 100%;
}

.landing__description--btn {
    position: absolute;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 8px;
    top: 0;
    right: 0;
    bottom: 0;
    width: 160px;
    line-height: 1;
    border: none;
    font-weight: 700;
    font-size: 100%;
}

.landing__description--customers{
    margin-top: 80px;
}

.landing__customers--para {
    text-align: left;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: rgb(160 174 192);
}

.landing__customers--img{
    padding-right: 128px;
    margin-top: 16px;
    width: 100%;
    opacity: 0.5;
}

.landing__img--wrapper {
    width: 60%;
    margin-top: 0px;
}

.landing__img {
    max-width: 768px;
    width: 100%;
}

/* FEATURES */

.features__container {
    padding-top: 50px;
    padding-bottom: 150px;
}

.features__wrapper {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.section__description {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
}

.section__description--title {
    margin-bottom: 16px;
    font-weight: 700;
    letter-spacing: 0.1em;
}

.section__description--subtitle {
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 0.025em;
    color: rgb(36 62 99);
}

.section__description--para {
    font-size: 18px;
    margin-top: 16px;
    max-width: 576px;
    font-weight: 500;
    line-height: 1.625;
    color: rgb(124 139 161);
}

.services {
    margin-top: 40px;
    width: 100%;   
    display: flex;
    flex-wrap: wrap;
}

.services__box {
    width: calc(85% / 3);
    max-width: 384px;
    display: flex;
    flex-direction: row;
    text-align: left;
    margin: 0 16px;
    padding: 32px 4px;
    align-items: flex-start;
}

.services__img--wrapper {
    border: solid 1px rgb(226, 232, 240);
    border-radius:  9999px;
    padding: 20px;
    text-align: center;
    flex-shrink: 0;
}

.services__img {
    height: 24px;
    width: 24px;
}

.services__description {
    margin-left: 16px;
    margin-top: 8px;
}

.services__description--title {
    margin-top: 16px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.025em;
}

.services__description--para {
    margin-top: 16px;
    font-weight: 500;
    line-height: 2;
    color: rgb(124 139 161);
}


/* QUALITY */

#quality {
    height: 626px;
}

.flex__row {
    display: flex;
    align-items: center;
}

.quality__description {
    display: flex;
    text-align: left;
    width: 50%;
    max-width: 576px;
    margin-right: 64px;
    flex-direction: column;
    padding: 32px 0;
    align-items: flex-start;
}

.quality__img--wrapper {
    width: 50%;
    flex-shrink: 0;
}

.quality__img {
    border-radius: 4px;
    border: 1px solid rgb(226, 232, 240);
}

.quality__btn {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    border: none;
    margin-top: 32px;
}

/* STEPS */

#steps {
    height: 732px;
}

.steps__img--wrapper {
    width: 50%;
}

.steps__description {
    width: 50%;
    margin-left: 64px;
}

.steps__list {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
}

.steps__box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 32px;
}

.steps__box--number {
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
    color: rgb(203 213 224);
}

.steps__box--description {
    margin-left: 24px;
}

.steps__box--title {
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
}

.steps__box--para {
    margin-top: 12px;
    max-width: 320px;
    font-size: 14px;
    font-weight: 500;
    line-height: 2;
    color: rgb(113 128 150);
}


/* VALUES */